{% extends "::base.html.twig" %}

{% block title %}Show All Users -SayHi{% endblock %}

{% block body %}
<div class ='container-fluid bg-2'
    <hr>
    <h1>All Users</h1>
    <hr>
    <ul>
    {%for user in allUsers %}
        <li><h3>{{user.name}}</h3> <a class ="btn btn-default" href="{{ path('show', {'id': user.id}) }}">Show Details</a>
        <a class="btn btn-default" href="{{ path('delete', {'id': user.id}) }}">Delete</a></li>
        <hr>
    {%endfor%}
    </ul>
    <hr>
</div>
{% endblock %}
